<div id="RightSectionBanner">
    <div id="RightBannerTop" class="RightSectionFontColor"><h4>What Are We Planning Today?</h4></div>
    <div id="RightBannerMiddle" class="RightSectionFontColor">
        <div class="ImgHeaderContainer">
            <img src="~/Content/Images/AppImages/RoadMap.jpg" class="BannerImages" />
        </div>
        <div class="ImgHeaderContainer">
            <img src="~/Content/Images/AppImages/CountryRoad.jpg" class="BannerImages" />
        </div>

        <div class="ImgHeaderContainer">
            <img src="~/Content/Images/AppImages/bar.jpg" class="BannerImages" />
        </div>
        <div class="ImgHeaderContainer">
            <img src="~/Content/Images/AppImages/hotel.jpg" class="BannerImages" />
        </div>

        <div class="ImgHeaderContainer">
            <img src="~/Content/Images/AppImages/FarmHouse.jpeg" class="BannerImages" />
        </div>


        <div class="ImgHeaderContainer">
            <img src="~/Content/Images/AppImages/Cruise.jpg" class="BannerImages" />
        </div>

        <div class="ImgHeaderContainer">
            <img src="~/Content/Images/AppImages/DarkSushi.jpg" class="BannerImages" />
        </div>

        <div class="ImgHeaderContainer">
            <img src="~/Content/Images/AppImages/Glamping.jpg" class="BannerImages" />
        </div>


    </div>
    <div id="RightBannerBottom" class="RightSectionFontColor"><h4 style="margin: 0px;">Use the Arrow Keys To Swipe Too!</h4></div>

    <div id="RightSectionBottomContainer">
        <div id="SwipeContentPartialView">
            <div id="CardSwipeContainer" class="CardSwipeContainer">
                <div id="cardInfoHolder">

                    <div class="card FrontCard">
                        <img src="https://s3-media0.fl.yelpcdn.com/bphoto/t4v6Q76XT5Q0x3A6ETpMPQ/348s.jpg" class="BannerImages swipeImage" />
                        <div id="SwipeTitleContainer" class="SwipeTitleContainer">
                            <h5 id="SwipeTitle" class="noMargins">Matcha Night</h5>
                        </div>

                        <div id="SwipeDetailsContainer" class="SwipeDetailsContainer">
                            <i class="fa fa-map-marker SwipeIcons">1007 STEWART ST., STE 103, SEATTLE, WA 98101</i>
                        </div>
                    </div>

                    <div class="card Backcard">
                        <img src="https://hidden-spire-05318.herokuapp.com/img/assets/minigolf.jpg" class="BannerImages swipeImage" />
                        <div id="SwipeTitleContainer" class="SwipeTitleContainer">
                            <h5 id="SwipeTitle" class="noMargins">Mini Golf With Friends | Mini Golf With Friends | Mini Golf With Friends</h5>
                        </div>

                        <div id="SwipeDetailsContainer" class="SwipeDetailsContainer">
                            <i class="fa fa-map-marker SwipeIcons"> Tacoma, WA</i>
                        </div>
                    </div>
                </div>
                <div id="btnContainer">
                    <div class="SmallCircleButton redo"><i class="fa fa-undo SmallCircleIcon"></i></div>
                    <div class="LargeCircleButton cancelBtn"><i class="fa fa-ban LargeCircleIcon"></i></div>
                    <div class="LargeCircleButton addBtn"><i class="fa fa-heart LargeCircleIcon"></i></div>
                    <div class="SmallCircleButton info"><i class="fa fa-info SmallCircleIcon "></i></div>
                </div>
            </div>
        </div>

    </div>
</div>
