<div id="RightSectionBanner">
    <div id="RightBannerTop" class="RightSectionFontColor"><h4>What Are We Planning Today?</h4></div>
    <div id="RightBannerMiddle" class="RightSectionFontColor">
        <div class="ImgHeaderContainer">
            <img src="https://static.stacker.com/s3fs-public/croppedshutterstock14258552879YQGjpg_131.JPEG" class="BannerImages" />
        </div>
        <div class="ImgHeaderContainer">
            <img src="https://hidden-spire-05318.herokuapp.com/img/assets/sushi.jpg" class="BannerImages" />
        </div>

        <div class="ImgHeaderContainer">
            <img src="https://hidden-spire-05318.herokuapp.com/img/assets/cooking.jpg" class="BannerImages" />
        </div>
        <div class="ImgHeaderContainer">
            <img src="https://media.istockphoto.com/photos/panoramic-view-of-colorful-sunrise-in-mountains-picture-id620951116?k=20&m=620951116&s=612x612&w=0&h=J98krM_DhMkVpAzPOxfgT15jAD8PWQrtdrQftyxHjbE=" class="BannerImages" />
        </div>

        <div class="ImgHeaderContainer">
            <img src="https://hidden-spire-05318.herokuapp.com/img/assets/minigolf.jpg" class="BannerImages" />
        </div>


        <div class="ImgHeaderContainer">
            <img src="https://media.cntraveler.com/photos/595e64a1adb18c52fbb13a98/16:9/w_2560%2Cc_limit/GettyImages-106583184.jpg" class="BannerImages" />
        </div>

        <div class="ImgHeaderContainer">
            <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/country-road-along-rocky-mountains-royalty-free-image-678834219-1550781633.jpg" class="BannerImages" />
        </div>

        <div class="ImgHeaderContainer">
            <img src="https://www.thespruce.com/thmb/ZamU3qd7HVHPEZ4rnRKZKheGy3I=/2500x1667/filters:no_upscale():max_bytes(150000):strip_icc()/kgdesignmodernfarmhouse-5c1f3e04d7e54adcbc04205076cf94eb.jpeg" class="BannerImages" />
        </div>


    </div>
    <div id="RightBannerBottom" class="RightSectionFontColor"><h4 style="margin: 0px;">Use the Arrow Keys To Swipe Too!</h4></div>

    <div id="RightSectionBottomContainer">
        <div id="SwipeContentPartialView">
            <div id="CardSwipeContainer">
                <img src="https://hidden-spire-05318.herokuapp.com/img/assets/minigolf.jpg" class="BannerImages swipeImage" />
                <div id="SwipeTitleContainer">
                    <h5 id="SwipeTitle" class="noMargins">Mini Golf With Friends | Mini Golf With Friends | Mini Golf With Friends</h5>
                </div>

                <div id="SwipeDetailsContainer">
                    <i class="fa fa-map-marker SwipeIcons"> Tacoma, WA</i>
                </div>
                <div id="btnContainer">
                    <div class="SmallCircleButton redo"><i class="fa fa-redo SmallCircleIcon"></i></div>
                    <div class="LargeCircleButton cancelBtn"><i class="fa fa-ban LargeCircleIcon"></i></div>
                    <div class="LargeCircleButton addBtn"><i class="fa fa-heart LargeCircleIcon"></i></div>
                    <div class="SmallCircleButton info"><i class="fa fa-info SmallCircleIcon "></i></div>
                </div>



            </div>
        </div>

    </div>
</div>
