<div class="LeftNavBarBanner activeRed">
    <h4>Welcome, Kevin!</h4>
</div>

<div id="NavProfileSection">
    <div class="ImgHeaderContainer ProfilePictureContainer">
        <img src="~/Content/Images/AppImages/NoProfilePicture.jpg" class="BannerImages ProfilePicture" />
    </div>
</div>
@model ToDuo.Models.ViewModels.IndexVM
<div id="NavCategoryContainer">
    <ul class="CategoryBackground">
        <li class="activeRed">All Adventures <i class="fa fa-globe-asia CategoryListIcons"></i></li>
        <li>Resturants <i class="fa fa-cutlery CategoryListIcons"></i></li>
        <li>Home/Decor <i class="fa fa-bed CategoryListIcons"></i></li>
        <li>Activities <i class="fa fa-car CategoryListIcons"></i></li>
        <li>Recipe Ideas <i class="fa fa-book CategoryListIcons"></i></li>
        <li>Hiking <i class="fa fa-tree CategoryListIcons"></i></li>
    </ul>
</div>

<div id="LastAddedContainer" class="text-center">
    <div id="BoardAndRecentlySwipeContainer">
        <i class="fa fa-heart CategoryListIcons glow boardSwipeIcons" id="RencetlyAddedHeart" title="Recently Added"></i>
        <i class="fa fa-diamond CategoryListIcons boardSwipeIcons" id="RencetlyAddedDiamond" title="Add Something" data-toggle="modal" data-target="#AddAdventureModal"></i>
        <i class="fa fa-trello CategoryListIcons boardSwipeIcons" id="AddToSelectedBoards" title="Add To These Boards"></i>
    </div>

    <hr class="activeRed" />
</div>

<div id="RecentlyAddedContainer">
    @foreach (var Adventure in Model.AdventureList)
    {
    
        <div id="RecentlyAddedImgContainer"><img src="@Adventure.ImageURL" class="RecentlyAddedImages" /></div>
    
        
    }
</div>


@*<div id="SelectBoardToAddToContainer">
        <div id="RecentlyAddedImgContainer"><img src="~/Content/Images/AppImages/Glamping.jpg" class="RecentlyAddedImages" /></div>
        <div id="RecentlyAddedImgContainer"><img src="~/Content/Images/AppImages/Glamping.jpg" class="RecentlyAddedImages" /></div>
        <div id="RecentlyAddedImgContainer"><img src="~/Content/Images/AppImages/Glamping.jpg" class="RecentlyAddedImages" /></div>
        <div id="RecentlyAddedImgContainer"><img src="~/Content/Images/AppImages/Glamping.jpg" class="RecentlyAddedImages" /></div>
        <div id="RecentlyAddedImgContainer"><img src="~/Content/Images/AppImages/Glamping.jpg" class="RecentlyAddedImages" /></div>
        <div id="RecentlyAddedImgContainer"><img src="~/Content/Images/AppImages/Glamping.jpg" class="RecentlyAddedImages" /></div>
        <div id="RecentlyAddedImgContainer"><img src="~/Content/Images/AppImages/Glamping.jpg" class="RecentlyAddedImages" /></div>
        <div id="RecentlyAddedImgContainer"><img src="~/Content/Images/AppImages/Glamping.jpg" class="RecentlyAddedImages" /></div>
        <div id="RecentlyAddedImgContainer"><img src="~/Content/Images/AppImages/Glamping.jpg" class="RecentlyAddedImages" /></div>


    </div>*@
