<div class="LeftNavBarBanner activeRed">
    <h4>Welcome, Kevin!</h4>
</div>

<div id="NavProfileSection">
    <div class="ImgHeaderContainer ProfilePictureContainer">
        <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909__340.png" class="BannerImages ProfilePicture" />
    </div>
</div>

<div id="NavCategoryContainer">
    <ul class="CategoryBackground">
        <li class="activeRed">All Adventures <i class="fa fa-globe-asia CategoryListIcons"></i></li>
        <li>Resturants <i class="fa fa-utensils CategoryListIcons"></i></li>
        <li>Home/Decor <i class="fa fa-couch CategoryListIcons"></i></li>
        <li>Activities <i class="fa fa-car CategoryListIcons"></i></li>
        <li>Recipe Ideas <i class="fa fa-book CategoryListIcons"></i></li>
        <li>Hiking <i class="fa fa-hiking CategoryListIcons"></i></li>
    </ul>
</div>

<div id="LastAddedContainer" class="text-center">
    <div id="BoardAndRecentlySwipeContainer">
        <i class="fa fa-heart CategoryListIcons glow boardSwipeIcons" id="RencetlyAddedHeart" title="Recently Added"></i>
        <i class="fa fa-diamond CategoryListIcons boardSwipeIcons" id="RencetlyAddedDiamond" title="Add Something" data-toggle="modal" data-target="#AddAdventureModal"></i>
        <i class="fa fa-trello CategoryListIcons boardSwipeIcons" id="AddToSelectedBoards" title="Add To These Boards"></i>
    </div>

    <hr class="activeRed" />
</div>

@*        <div id="RecentlyAddedContainer">
        <div id="RecentlyAddedImgContainer"><img src="https://www.twowanderingsoles.com/wp-content/uploads/2021/07/Best2BThings2Bto2BDo2Bin2BWashington2BState2BColchuck2BLake2BEnchantments.jpg" class="RecentlyAddedImages" /></div>
        <div id="RecentlyAddedImgContainer"><img src="https://www.twowanderingsoles.com/wp-content/uploads/2021/07/Best2BThings2Bto2BDo2Bin2BWashington2BState2BColchuck2BLake2BEnchantments.jpg" class="RecentlyAddedImages" /></div>
        <div id="RecentlyAddedImgContainer"><img src="https://www.twowanderingsoles.com/wp-content/uploads/2021/07/Best2BThings2Bto2BDo2Bin2BWashington2BState2BColchuck2BLake2BEnchantments.jpg" class="RecentlyAddedImages" /></div>
        <div id="RecentlyAddedImgContainer"><img src="https://www.twowanderingsoles.com/wp-content/uploads/2021/07/Best2BThings2Bto2BDo2Bin2BWashington2BState2BColchuck2BLake2BEnchantments.jpg" class="RecentlyAddedImages" /></div>
        <div id="RecentlyAddedImgContainer"><img src="https://www.twowanderingsoles.com/wp-content/uploads/2021/07/Best2BThings2Bto2BDo2Bin2BWashington2BState2BColchuck2BLake2BEnchantments.jpg" class="RecentlyAddedImages" /></div>
        <div id="RecentlyAddedImgContainer"><img src="https://www.twowanderingsoles.com/wp-content/uploads/2021/07/Best2BThings2Bto2BDo2Bin2BWashington2BState2BColchuck2BLake2BEnchantments.jpg" class="RecentlyAddedImages" /></div>
        <div id="RecentlyAddedImgContainer"><img src="https://www.twowanderingsoles.com/wp-content/uploads/2021/07/Best2BThings2Bto2BDo2Bin2BWashington2BState2BColchuck2BLake2BEnchantments.jpg" class="RecentlyAddedImages" /></div>
        <div id="RecentlyAddedImgContainer"><img src="https://www.twowanderingsoles.com/wp-content/uploads/2021/07/Best2BThings2Bto2BDo2Bin2BWashington2BState2BColchuck2BLake2BEnchantments.jpg" class="RecentlyAddedImages" /></div>
        <div id="RecentlyAddedImgContainer"><img src="https://www.twowanderingsoles.com/wp-content/uploads/2021/07/Best2BThings2Bto2BDo2Bin2BWashington2BState2BColchuck2BLake2BEnchantments.jpg" class="RecentlyAddedImages" /></div>
        <div id="RecentlyAddedImgContainer"><img src="https://www.twowanderingsoles.com/wp-content/uploads/2021/07/Best2BThings2Bto2BDo2Bin2BWashington2BState2BColchuck2BLake2BEnchantments.jpg" class="RecentlyAddedImages" /></div>
        <div id="RecentlyAddedImgContainer"><img src="https://www.twowanderingsoles.com/wp-content/uploads/2021/07/Best2BThings2Bto2BDo2Bin2BWashington2BState2BColchuck2BLake2BEnchantments.jpg" class="RecentlyAddedImages" /></div>
        <div id="RecentlyAddedImgContainer"><img src="https://www.twowanderingsoles.com/wp-content/uploads/2021/07/Best2BThings2Bto2BDo2Bin2BWashington2BState2BColchuck2BLake2BEnchantments.jpg" class="RecentlyAddedImages" /></div>
        <div id="RecentlyAddedImgContainer"><img src="https://www.twowanderingsoles.com/wp-content/uploads/2021/07/Best2BThings2Bto2BDo2Bin2BWashington2BState2BColchuck2BLake2BEnchantments.jpg" class="RecentlyAddedImages" /></div>
        <div id="RecentlyAddedImgContainer"><img src="https://www.twowanderingsoles.com/wp-content/uploads/2021/07/Best2BThings2Bto2BDo2Bin2BWashington2BState2BColchuck2BLake2BEnchantments.jpg" class="RecentlyAddedImages" /></div>
    </div>*@

<div id="SelectBoardToAddToContainer">
    <div id="RecentlyAddedImgContainer"><img src="https://hidden-spire-05318.herokuapp.com/img/assets/sushi.jpg" class="RecentlyAddedImages" /></div>
    <div id="RecentlyAddedImgContainer"><img src="https://hidden-spire-05318.herokuapp.com/img/assets/sushi.jpg" class="RecentlyAddedImages" /></div>
    <div id="RecentlyAddedImgContainer"><img src="https://hidden-spire-05318.herokuapp.com/img/assets/sushi.jpg" class="RecentlyAddedImages" /></div>
    <div id="RecentlyAddedImgContainer"><img src="https://hidden-spire-05318.herokuapp.com/img/assets/sushi.jpg" class="RecentlyAddedImages" /></div>
    <div id="RecentlyAddedImgContainer"><img src="https://hidden-spire-05318.herokuapp.com/img/assets/sushi.jpg" class="RecentlyAddedImages" /></div>
    <div id="RecentlyAddedImgContainer"><img src="https://hidden-spire-05318.herokuapp.com/img/assets/sushi.jpg" class="RecentlyAddedImages" /></div>
    <div id="RecentlyAddedImgContainer"><img src="https://hidden-spire-05318.herokuapp.com/img/assets/sushi.jpg" class="RecentlyAddedImages" /></div>
    <div id="RecentlyAddedImgContainer"><img src="https://hidden-spire-05318.herokuapp.com/img/assets/sushi.jpg" class="RecentlyAddedImages" /></div>
    <div id="RecentlyAddedImgContainer"><img src="https://hidden-spire-05318.herokuapp.com/img/assets/sushi.jpg" class="RecentlyAddedImages" /></div>
    <div id="RecentlyAddedImgContainer"><img src="https://hidden-spire-05318.herokuapp.com/img/assets/sushi.jpg" class="RecentlyAddedImages" /></div>

</div>
