@{ 
    <link rel="stylesheet" type="text/css" href="~/Content/Custom/Index/LeftSearchSection.css"/>

}
<div class="LeftNavBarBanner activeRed">
    <h4>Welcome, Kevin!</h4>
</div>

<div id="NavProfileSection">
    <div class="ImgHeaderContainer ProfilePictureContainer">
        <img src="~/Content/Images/AppImages/NoProfilePicture.jpg" class="BannerImages ProfilePicture" />
    </div>
</div>
@model ToDuo.Models.ViewModels.IndexVM
<div id="NavCategoryContainer">
    <ul class="CategoryBackground">
        <li class="activeRed">All Adventures <i class="fa fa-map-o CategoryListIcons" style="color:#fff;"></i></li>
    </ul>

    <div id="LeftSearchContainer" class="CategoryBackground">
        <div id="LeftSearchBar">
            <input type="text" id="LeftSearchTxt" class="form-control" placeholder="Explore Other Tags!" />
            <i id="LeftSearchIcon" class="fa fa-search CategoryListIcons"></i>
        </div>

        <div id="LeftCategoriesContainer">
            <h5 class="category0 roundRadius pointer categoryChoice" categoryContent ="Resturant">+ Resturant</h5>
            <h5 class="category1 roundRadius pointer categoryChoice" categoryContent ="Home-Decor">+ Home-Decor</h5>
            <h5 class="category2 roundRadius pointer categoryChoice" categoryContent ="Activities">+ Activities</h5>
            <h5 class="category3 roundRadius pointer categoryChoice" categoryContent ="Hiking">+ Hiking</h5>
            <h5 class="category4 roundRadius pointer categoryChoice" categoryContent ="Recipes">+ Recipes</h5>

        </div>

        <div id="LeftLocationContainer">
            <i id="LeftLocationIcon" class="fa fa-map-marker CategoryListIcons pointer"></i>
            <h4 class="pointer">Location</h4>
        </div>

       

        <div id="LeftTagContainer">
            <ul id="LeftSearchTagWrapper" class="">
                <span id="SearchErrorMessage" class="hide">
                    You Are Only 5 Filters Max
                </span>
                <!--Comes from addAdventureModel.js-->
@*                <li class="tagItemContainer tagTitle DetailTagItemIcon LeftSearchTag" tagcontent="outdoors">
                    outdoors <i class="fa fa-tags   SearchTagIcon"></i>
                </li>

                <li class="tagItemContainer tagTitle DetailTagItemIcon LeftSearchTag" tagcontent="outdoors">
                    Hiking <i class="fa fa-tags   SearchTagIcon"></i>
                </li>

                <li class="tagItemContainer tagTitle DetailTagItemIcon LeftSearchTag" tagcontent="outdoors">
                    Park <i class="fa fa-tags   SearchTagIcon"></i>
                </li>

                <li class="tagItemContainer tagTitle DetailTagItemIcon LeftSearchTag" tagcontent="outdoors">
                    Park <i class="fa fa-tags   SearchTagIcon"></i>
                </li>

                <li class="tagItemContainer tagTitle DetailTagItemIcon LeftSearchTag" tagcontent="outdoors">
                    water <i class="fa fa-tags   SearchTagIcon"></i>
                </li>*@
            </ul>
        </div>

    </div>
</div>

<div id="LastAddedContainer" class="text-center">
    <div id="BoardAndRecentlySwipeContainer">
        <i class="fa fa-heart CategoryListIcons glow boardSwipeIcons" id="RencetlyAddedHeart" title="Recently Added"></i>
        <i class="fa fa-diamond CategoryListIcons boardSwipeIcons" id="RecentlyAddedDiamond" title="Add Something" data-toggle="modal" data-target="#AddAdventureModal"></i>
      @*  <i class="fa fa-trello CategoryListIcons boardSwipeIcons" id="AddToSelectedBoards" title="Add To These Boards"></i>*@
    </div>

    <hr class="activeRed" />
</div>

<div id="RecentlyAddedContainer">
    @Html.Partial("~/Views/Home/Dashboard/LeftSideBar/_RecentlyAdded.cshtml", Model)
</div>

