@{
    ViewBag.Title = "Home Page";
    <link rel="stylesheet" type="text/css" href="~/Content/Custom/Index/Dashboard.css" />
}

<div id="BodyContent" class="sectionContainer">


    <div id="LeftNavBar">
        @Html.Partial("~/Views/Home/Dashboard/LeftSideBar/LeftSideMenu.cshtml")
    </div>

    <div id="RightSection">
        @Html.Partial("~/Views/Home/Dashboard/RightSide/RightSection.cshtml")
    </div>



    @Html.Partial("~/Views/Home/Dashboard/Modals/AddAdventure.cshtml")


</div>