.RollInLeft {
    visibility: visible;
    animation: RollInLeft .5s forwards;
}

.RollInRight {
    visibility: visible;
    animation: RollInRight .5s forwards;
}

.delayFadeIn {
    animation: delayFadeIn 3s infinite;
}

.SlideInFromAbove {
    animation: SlideInFromAbove .5s forwards;
}

@keyframes SlideInFromAbove {
    0% {
        margin-top: -100px;
    }

    100% {
        margin-top: 0px;
    }
}

@keyframes delayFadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes RollInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%) rotate(-120deg);
        margin-left: -500px;
    }

    100% {
        opacity: 1;
        transform: translateX(0px) rotate(0deg);
        margin-left: 0px;
    }
}

@keyframes RollInRight {
    0% {
        opacity: 0;
        transform: translateX(100%) rotate(120deg);
        margin-right: -500px;
    }

    100% {
        opacity: 1;
        transform: translateX(0px) rotate(0deg);
        margin-right: 0px;
    }
}
