.tagAppearAnimation {
    animation: fadeIn .8s forwards;
    visibility: visible;
}

.GrowElementRight {
    animation: GrowElementRight .8s forwards;
    visibility: visible;
}

@keyframes GrowElementRight {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
