@{
    <link rel="stylesheet" type="text/css" href="~/Content/Custom/Shared/Overlay.css" />

}
<div id="LoadingOverlay" class="hide">
    @Html.Partial("~/Views/Shared/UtilComponents/_Loading.cshtml")
</div>
