
@{
    <link rel="stylesheet" type="text/css" href="~/Content/Custom/Shared/Loading.css" />
}

<div id="LoadingContainer" class="">
    <h2 class="swaySideToSide" style="margin-bottom: 18px; margin-top: 0px;">Loading</h2>
    <div id="loadingDotaContainerHolder">
        <div class="loadingDotContainer">
            <div class="loadingDot LoadingDotAnimation"> </div>
        </div>
        <div class="loadingDotContainer">
            <div class="loadingDot2 LoadingDotAnimation2"> </div>
        </div>
        <div class="loadingDotContainer">
            <div class="loadingDot3 LoadingDotAnimation3"> </div>
        </div>
    </div>

</div>
