#ModalDetailDragAndDropImageContainer,
#ModalDragAndDropImageContainer {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* Entire background image always stays in view */
    height: 330px;
}

#AddAdventureDescriptionTxt {
    resize: vertical;
}

#editpostlbl {
    color: #992915;
    font-weight: bolder;
}

.tagItemContainer {
    cursor: pointer;
}

    .tagItemContainer:hover {
        text-decoration: line-through;
        text-decoration-thickness: 2px;
        text-decoration-color: #992915;
    }

