/*
    https://www.pinterest.com/pin/305681893460042013/
    #7097A8 Gothic
    #ABD1DC Aqua island
    #d9c595 Pancho
    #ECD59F Pancho - light
    #C6A477 Laser
    #F6F0F0 SmokeyWhite background
    #eeeeee Section colors
    #242834 - Navy
    #992915 - brown red
    #b14431 - light brown red
*/

#RightSwipeFeedbackContainer {
    position: absolute;
    top: 0%;
    left: 70%;
    transform: translate(-50%,-50%);
    z-index: 800;
    border: 5px solid green;
    padding: 10px;
    color: green;
    width: 80%;
    text-align: center;
    transform: rotate(40deg)
}

#LeftSwipeFeedbackContainer {
    position: absolute;
    top: 0%;
    left: -40%;
    transform: translate(-50%,-10%);
    z-index: 800;
    border: 5px solid #992915;
    padding: 10px;
    color: #992915;
    width: 80%;
    text-align: center;
    transform: rotate(-40deg)
}
